body{
    background-color: rgb(246, 246, 246);   
}

header{
    position:fixed;
    top:0px;
    width:1500px;
    background:rgb(255, 255, 255);
    display: block;
}

.navbar{
    height:80px;
}

.left{
    position: relative;
    top : 8px;
    left :100px;
}
.middle {
    position: relative;
    top:0px;
    left:25%;
}

.right{
    position:relative;
    left:370px
}

.menu-link-black-color{
    font-weight: 800;
    color: black;
    text-decoration: none;
    text-align : center;
 column-gap: 30%;
 padding-right: 40px;
}

.bottom-navbar{
    margin-top: 20px;
    background: #b0171f;
    padding:10px;
    position: relative;
    left:20px
}

.menu-text-format-for-navbar{
    cursor: pointer;
    display: inline;
    padding:14px;
    margin: 12px 8px 8px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-weight: 800;
}

.menu-link-white-color{
    color: white;
    text-decoration: none;
    text-align : center;
 column-gap: 30%;
}

.bottom-nav-bar-elements{
    position:relative;
    left:220px;
    padding: 30px;
}

.button-link-white-color{
    cursor: pointer;
    display: inline;
    padding:14px;
    margin: 12px 8px 8px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-weight: 800;
}
#topleft01{
    width: 200px;
    height: 52px;
    background: #005f85;
    border-radius: 10px;
}

#topleft02{
    width: 200px;
    height: 52px;
    background: #004561;
    border-radius: 10px;
}


main{
    display: block;
    position:relative;
    top:97px;
    background: url("../IMG/mainFry.jpg") no-repeat center center/cover;
     height:750px;
 
}

.overlap-text-on-fry-1{

    position: relative ;
    top: 126px;
    left: 900px;
   font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.main-description {
   position: relative ;
   top: 26px;
   font-family: 'Ubuntu', sans-serif;
   color: white;
   width : 490px;
   font-size: 18px;
  
}

.playstore-and-appleios-btn{
    display:inline;
    z-index: 10;
    display: block;
    position:relative;
    top:105px;
    left:300px;
    text-decoration: none;
}

section{
    position:relative;
    top:120px;
    left:900px;
}


.btn-hot-and-cripsy{
    display: block;
    background-color: #004561;
}

.place-order-btn{
    background-color:#089cd4;
    text-align: center;
    cursor: pointer;
    display: inline;
    padding:24px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-weight: 900;
    position: relative;
    top: 80px;
    
}

.playstore-and-appleios-btn1
{
    text-align: center;
    cursor: pointer;
    position: relative;
    top:120px;
}

.playstore-and-appleios-btn2
{
    text-align: center;
    cursor: pointer;
    position: relative;
    top:120px;
}

.main-condition-below-description{
    margin-top: 40px;
    text-align: left;
    color: white;
    font-size: 20px;
    position: relative;
    top:112px;
    left:0px;
    width:450px;
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}